.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .footer-logo{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            height: 50px;
        }
        p{
            color: #383838;
            font-size: 46px;
            font-weight: 700;
        }
    }
    .footer-link{
        display: flex;
        list-style: none;
        color: #252525;
        font-size: 20px;
        li{
            cursor: pointer;
            margin: 0 20px;
        }
    }
    .footer-icons{
        display: flex;
        // flex-direction: column;
        gap: 20px;
        .footer-icon-container{
            padding: 10px;
            padding-bottom: 6px;
            background: #fbfbfb;
            border: 1px solid #ebebeb;
            i{
                font-size: 50px;
                cursor: pointer;
            }
        }
        .footer-copyright{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 100%;
            margin-bottom: 30px;
            color: #1a1a1a;
            font-size: 20px;
            hr{
                width: 80%;
                border: none;
                border-radius: 10px;
                height: 3px;
                background: #c7c7c7;
            }
        }
    }

}