.productPage{
    height: 80vh;
    margin: 50px 0 0 0 ;
    width: 100vw;
    background: white;
    border-radius: 8px;
    display: flex;
    // justify-content: center;
    align-items: center;
    .itemList{
        width: 5%;
        background: #fff;
        height: 90%;
        border-radius: 10px;
        margin: 0 0 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
        overflow-x: hidden;
        .img{
            background: white;
            margin: 5px;
            border-radius: 10px;
            margin-top: 10px;
            width: 87%;
            height: 10%;
            overflow: hidden;
            cursor: pointer;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .img:hover{
            box-shadow: 0px 0px 5px red;
        }
    }
    .mainImage{
        width: 50%;
        // background: #000;
        height: 95%;
        border-radius: 10px;
        margin: 0 0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .img{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 90%;
                width: 90%;
                border-radius: 10px;
            }
        }
    }
    .proDetail{
        width: 42%;
        background: #000;
        height: 95%;
        border-radius: 10px;
        margin: 0 0 0 10px;
    }
}